{% extends "layout.html" %} 
{% block title %}Авторизация{% endblock %} 
{% block content %}
    <div class="container text-center">
        <div class="form_handler">
            <h2 class="display-4">Авторизация</h2>
            <form method="POST" action="/login" style="margin-bottom: 20px;">
                <input type="text" name="csrf" value="{{csrf_token}}" hidden>
                <div class="form-group">
                    <label for="recipient">Ваш логин</label>
                    <input type="text" class="form-control" id="login" name="login" required>
                </div>
                <div class="form-group">
                    <label for="recipient">Ваш пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Вход</button>
                
            </form>
            {% with flashes = get_flashed_messages(with_categories = True) %}
                {% if flashes %}
                    {% for flash in flashes %}
                        {% if flash[0] == "error" %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% else %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {% endif %}
                        {{flash[1]}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <a class="text-muted" href="/register">Регистрация</a>
        </div>
    </div>
    {% endblock %}